<div class="container mt-3">
  <div id="typed-strings" class="banner-area">
    <h1>Amazing <span class="element"></span></h1>
  </div>
  <script>
    var typed = new Typed('.element', {
      strings: [
        'Drinks',
        'Cocktails',
        'Experiences'
      ],
      smartBackspace: true,
      typeSpeed: 60,
      backSpeed: 60,
      loop: true,
    });
  </script>
  <div class="d-flex justify-content-evenly flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <div class="card m-2 card-main" style="width: 22rem;">
        <div class="card-image">
          <%= cl_image_tag cocktail.photo.key, class:"card-img-top" %>
        </div>
        <div class="card-body">
          <%= link_to cocktail_path(cocktail), class:"card-link card-title" do %>
            <h5 class="card-title"> <%= cocktail.name %></h5>
          <% end %>
          <hr>
          <div class="d-flex text-right">
            <%= link_to "More info", cocktail_path(cocktail), class:"card-link" %>
            <%= link_to "Edit", edit_cocktail_path(cocktail), class:"card-link card-edit" %>
            <%= link_to "Delete", cocktail_path(cocktail), method: :delete,
            data: { confirm: "Are you sure?" }, class:"card-link card-delete" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
