<div class="container mt-3">
  <div id="typed-strings">
    <h1 class="overflow-hidden">Amazing Cocktails</h1>
    <h1 class="overflow-hidden">Amazing Experiences</h1>
  </div>
  <h1 class="text-center typed-font" id="typed"></h1>
  <script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 50,
      backSpeed: 50,
      smartBackspace: true,
      showCursor: false,
    });
  </script>
  <div class="d-flex justify-content-evenly flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <div class="card m-2 card-main" style="width: 22rem;">
        <div class="card-image">
          <%= cl_image_tag cocktail.photo.key, class:"card-img-top" %>
        </div>
        <div class="card-body">
          <%= link_to cocktail_path(cocktail), class:"card-link card-title" do %>
            <h5 class="card-title"> <%= cocktail.name %></h5>
          <% end %>
          <hr>
          <div class="d-flex text-right">
            <%= link_to "More info", cocktail_path(cocktail), class:"card-link" %>
            <%= link_to "Edit", edit_cocktail_path(cocktail), class:"card-link card-edit" %>
            <%= link_to "Delete", cocktail_path(cocktail), method: :delete,
            data: { confirm: "Are you sure?" }, class:"card-link card-delete" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/fematarazzo"><i class="fab fa-github"></i></a>
      <a href="https://instagram.com/felipe_matarazzo"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/felipemps/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This website was made by Felipe Matarazzo
    </div>
  </div>
</div>
